.DiaryItem{
    display:flex;
    gap:15px;
    justify-content: space-between;

    padding:15px 0px;
    border-bottom: 1px solid rgb(236,236,236);
}

.img_section{
    min-width:120px;
    height: 80px;

    display: flex;
    justify-content: center;
    cursor:pointer;

    border-radius: 5px;
}

img{
    width: 50px;
}

.img_section1{
    background-color: rgb(100,201,100);
}

.img_section2{
    background-color: rgb(157,215,114);
}

.img_section3{
    background-color: rgb(253,206,23);
}

.img_section4{
    background-color: rgb(253,132,70);
}

.img_section5{
    background-color: rgb(253,86,95);
}

.info_section{
    flex:1;
    cursor:pointer;
}

.created_date{
    font-weight: bold;
    font-size: 25px;
}

.content{
    font-size:18px;
}

.button_section{
    min-width: 70px;
}